
.accordionProps {
    padding: 2rem 0;
}


.accordion {
    max-width: 100%;
    margin: auto;
    padding: 1rem;
  }
  
  .accordion-item {
    margin-bottom: .3rem;
    border-bottom: 1px dashed #58799d;
  }
  
  .accordion-title {
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.6s ease;
    color: #58799d;

  }
  
  .accordion-title.active {
    color: #dfa60b;
  }
  
  .accordion-icon {
    font-size: 1.5rem;
  }
  
  .accordion-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out, padding 0.3s ease;
    padding: 0 15px;
  }

  .accordion-content.show {
    padding: 10px 15px;
    max-height: 100px;
    color: black;
  }
  
  .accordion-content p {
    margin: 0;
    font-size: 1rem;
    padding: 1rem 0;
  }
  

  @media screen and (max-width: 940px) {
    .accordion-content p {
        font-size: 14px;
      }
  }

  @media screen and (max-width: 600px) {
    .accordion-content p {
        font-size: 14px;
      }

      .accordion-title {
        font-size: 1rem;    
      }
  }