.slider-container {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 1rem;
  }
  
  .slider-container h1 {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase; 
    padding-top: 1rem;
    letter-spacing: 2px;
    color: #cd8c63;
  }

  .slider-container hr {
    width: 10%;
    margin-bottom: 1rem;
    border: 1px solid #cd8c6365;
  }
  
  .slider {
    display: flex;
    transition: scroll-behavior 0.5s ease;
    scroll-snap-type: x mandatory;
    overflow-x: auto; /* Ensure horizontal scrolling */
    scrollbar-width: none; /* Firefox */
    z-index: 99999;
  }
  
  .slider::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
  
  .slider-item {
    position: relative;
    min-width: 33.33%; /* For 3 images in view */
    overflow: hidden;
  }
  
  .slider-item img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  
  .slider-item:hover {
    transform: scale(1.05);
  }
  
  .slider-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    z-index: 2; /* Ensure it sits above the overlay */
    padding: 5px 10px;
  }


.slider-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Black overlay with transparency */
  z-index: 1; /* Ensures it appears behind the text */
}

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #cd8c63;
    border: 1px solid #cd8c63;
    color: white;
    padding: 15px; /* Larger touch targets */
    cursor: pointer;
    z-index: 10;
  }
  
  .left-arrow {
    left: 10px;
  }
  
  .right-arrow {
    right: 10px;
  }
  
  .arrow:hover {
    background-color: #00000065;
    border: none;
  }
  
  /* Media queries for responsiveness */

  @media (max-width: 940px) {

    .slider-container hr {
      width: 15%;
    }

    .slider-container h1 {
      text-align: center;
    }

    .slider-header {
      font-size: 18px;
    }

  }

  @media (max-width: 768px) {
    .slider-item {
      min-width: 100%; /* Show 1 image at a time on mobile */
    }

    .slider-item {
      border-right: none;
    }

    .slider-container hr {
      width: 30%;
    }
  

  }
  