.insurance {
  background-image: url('../../assets/texture.webp');
  }
  
  .insurance-category {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .insurance-category h1 {
    font-size: 1.5rem;
    color: #161515;
    text-transform: uppercase;
  }

  .insurance-category hr {
    width: 10%;
  }
  
  .insurance-header {
    padding: 1rem;
  }

  .insurance-header p {
    font-size: 2rem;
    text-align: left;
    color: #58799d;
    line-height: 2rem;
    text-align: center;
  }

  .insurance-header span {
    color: #f8c009;
    font-family: "Dynalight", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:  2.5rem;
  }
  
  .insurance-container {
    text-align: center;
    padding-top: 3rem;
  }

  
  .insurance-category p {
    font-size: 1rem;
    color: #141414;
  }
  
  .insurance-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    padding: 1rem;
    margin: auto;
  }
  
  .insurance-item {
    text-align: center;
    width: 25%;
  }
  
  .insurance-item img {
    width: 100%;
    display: block;
    padding: .5rem;
  }
  

  .insurance-image {
    width: 100%;
    margin: auto;
    gap: 1rem;
  }

  .insurance-image img {
    width: 100%;
    display: block;
  }


  
  /* Responsive Design */
  @media screen and (max-width: 940px) {
    .insurance-container {
      flex-direction: column;
    }
    .insurance-category {
      flex-direction: column;
    }

  }
  

    /* Responsive Design */
    @media screen and (max-width: 600px) {
      .insurance-header p {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    
      .insurance-header span {
        font-size:  2rem;
      }
  
    }
    