@import url('https://fonts.googleapis.com/css2?family=Dynalight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
/* General video styling */
.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

/* Black overlay on the video */
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(2, 41, 43, 0.527); /* Black overlay with 50% opacity */
    z-index: 2;
}

/* Hero container */
.hero {
    position: relative;
    width: 100%;
    height:  auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.hero-container {
    padding: 5rem 0;
}

.services-list  {
    width: 100%;
    padding-left: none;
}

.services-list ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem; 
    padding-left: 0;
}

.services-list ul li {
    color: white;
}

/* Flexbox items */
.hero-caption {
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 5;
}

.hero-form {
    z-index: 4;
    width: 40%;
    margin: auto;
}

.caption-item {
    width: 100%;
    z-index: 6; /* Ensure content appears above the overlay */
    margin: auto;
}

/* Headings */
.hero h1 {
    font-size: 5rem;
    color: white;
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: 5rem;
}

.hero span {
    color: #f8c009;
    font-family: "Dynalight", cursive;
    font-weight: 400;
    font-style: normal;
}

.hero h2 {
    font-size: 2.5rem;
    line-height: normal;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    text-align: center;
}

.hero-btn {
    text-align: center;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.hero-btn1 button {
    background-color: #5e7460;
    border: 1px solid #ffffff;
    color: white;
    border: none;
    padding: 1rem 3rem;
    border-radius: 2rem;
    letter-spacing: 2px;
}

.hero-btn2 button {
    background-color: #ffffff00;
    color: #fdfdfd;
    border: none;
    padding: 1rem 3rem;
    border-radius: 2rem;
    border: 1px solid white;
    letter-spacing: 2px;
}




/* Responsive styling */

@media (max-width: 1200px) {

    .hero-caption {
        flex-wrap: wrap;
    }
}


@media (max-width: 940px) {

    .hero-form {
        width: 70%;
    }

    .hero-container {
        flex-direction: column;
        text-align: center;
    }

    .caption-item {
        flex: unset;
        padding: 1rem;
    }

    .hero h1 {
        font-size: 5rem;
        line-height: 4rem;
    }

    .hero h2 {
        font-size: 1.5rem;
        padding: 1rem;
    }

    .hero-btn {
       flex-wrap: wrap;
       flex-direction: column;
    }
}


@media (max-width: 600px) {

    .hero-form {
        width: 100%;
    }

    .hero h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
    
    .services-list ul li {
        font-size: 14px;
    }  

}