.mission {
    position: relative;
    background-image: url('../../assets/about_us_section.webp');
    background-size: cover;
    background-position: bottom;
    color: #fff;
    padding: 60px 20px;
    display: flex;
    align-items: center;
    min-height: 500px;
  }
  
  .mission::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.288); /* Color overlay with opacity */
    z-index: 1;
  }
  
  .mission-content {
    position: absolute;
    z-index: 2;
    max-width: 600px;
    left: 5%;
    padding: 1rem;
  }
  
  .mission-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: white;
  }
  
  .mission-content p {
    font-size: 1.125rem;
    line-height: 1.6;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .mission {
      background-attachment: scroll; /* Change to scroll on smaller screens */
    }
  
    .mission-content {
      margin-left: 10px;
    }
  
    .mission-content h1 {
      font-size: 2rem;
    }
  
    .mission-content p {
      font-size: .9rem;
    }
  }
  