/* AlcoholHeroinRehab.css */

.levels-of-care-section {
    height: auto;
    padding: 3rem 1rem;
  }
  
  .levels-of-care-section-content {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .levels-of-care-section-sidebar {
    width: 40%;
  }
  
  .levels-of-care-section-caption {
    width: 100%;
    padding: 1rem;
  }
  
  .levels-of-care-section-header h1 {
    text-align: left;
    font-size: 1.5rem;
    color: #1b1c1d;
    font-family: "Noto Serif Oriya", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    padding: 1rem 0;
  }
  
  
  .levels-of-care-section-header p {
    font-size: 16px;
    color: rgb(32, 30, 30);
    line-height: normal;
  }
  
  .levels-of-care-section-flex {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
  }
  
  .levels-of-care-section-flex-image {
    width: 100%;
    margin: auto;
  }
  
  .levels-of-care-section-flex-image img {
    width: 100%;
    border-radius: 10px;
  }
  
  .levels-of-care-section-flex-caption {
    width: 100%;
    margin: auto;
  }
  
  .levels-of-care-section-flex-caption h2 {
    text-align: left;
    font-size: 1rem;
    color: #1b1c1d;
    font-family: "Noto Serif Oriya", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    padding: 2rem 0 .5rem 0;
  }

  .levels-of-care-section-flex-caption p {
    font-size: 16px;
    color: rgb(32, 30, 30);
    line-height: normal;
    text-align: justify;
  }
  
  .levels-of-care-section-flex-caption ul li {
    list-style-type: disc;
}

  .levels-of-care-section-body {
    padding: 2rem 0;
  }

  .levels-of-care-btn {
    padding-top: 1rem;
  }

  .levels-of-care-btn button {
    display: flex;
    align-items: center;
    background-color: #40b4e2;
    color: #ffffff;
    border: none;
    width: 150px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    justify-content: center;
  }

  .levels-of-care-btn button:hover {
    background-color: #8a5536;
  }
  
  
  @media screen and (max-width:940px) {
    

    .levels-of-care-section-flex {
      flex-wrap: wrap;
      padding: 1rem;
    }

    .levels-of-care-section-content {
      flex-wrap: wrap-reverse;
    }

    .levels-of-care-section-sidebar {
        width: 70%;
    }

}
  

  
  
  @media screen and (max-width:700px) {

    .levels-of-care-section-sidebar {
      width: 100%;
    }
    
  }
  
  
  
  
  