@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

@font-face {
  font-family: 'Wildest';
  src: url('../../assets/fonts/Wildest.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.outpatient-hero {
  width: 100%;
  height: 50vh; /* Ensures it takes up the full viewport height */
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1; /* Ensures it stays above the background but doesn't interfere with the footer */
}

.outpatient-hero:before {
  content: '';
  position: absolute;
  background: url('../../../assets/outpatient-background.webp') no-repeat center center/cover;
  height: 100%;
  width: 100%;
  z-index: -1; /* Behind everything in the hero */
}

.outpatient-hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1b2f4d65; /* Black overlay */
  z-index: 0; /* Between the image and content */
}

.outpatient-hero-content {
  width: max-content;
  bottom: 20%;
  right: 10%;
  position: absolute;
  padding: 1rem;
  text-align: center;
  z-index: 2; /* Ensures the content is above the overlay */
}

.outpatient-hero h1 {
    font-size: 4rem;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    line-height: 6rem;
    font-family: 'Wildest', sans-serif;
    text-align: left;
}

.outpatient-hero h2 {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    text-align: left;
    font-family: 'Wildest', sans-serif;
}



/* MEDIA QUERIES */

@media screen and (max-width:940px) {

  .outpatient-hero-content {
    width: 100%;
    left: 0%;
  }

    .outpatient-hero h1 {
        font-size: 3rem;
        text-align: center;
        line-height: 3.5rem;
    }
    .outpatient-hero h2 {
      text-align: center;
      font-size: 1.5rem;
  }


    .outpatient-hero p {
      font-size: 1rem;
      color: rgb(255, 255, 255);
  }
  

}
