.heroin-program-hero {
  background-image: url('../../../assets/rehab-heroin.webp'); /* Replace with actual image path */
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.heroin-program-hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.473);
  opacity: .6;
  z-index: 1;
}

.heroin-rehab-image-caption {
  position: absolute;
  bottom: 20%;
  width: 100%;
  z-index: 2;
}

.heroin-rehab-image-caption h1 {
  color: white;
  text-align: center;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.heroin-program-flex {
  display: flex;
  gap: 1rem;
  padding: 3rem 1rem;
}

.heroin-program-menu {
  width: 50%;
}

.heroin-program-caption {
  width: 100%;
  margin: 0 auto;
}

.heroin-program-caption h1 {
  font-size: 1.3rem;
  text-transform: uppercase;
}

.heroin-program-caption h2 {
  font-size: 1.2rem;
  padding: .5rem 0;
}

.heroin-program-caption p {
  font-size: 1rem;
  padding: 0;
  line-height: normal;
}

.heroin-program-caption ul {
  list-style: disc;
}

.heroin-program-image {
  width: 100%;
  text-align: center;
}

.heroin-program-image img {
  width: 40%;
}

@media screen and (max-width: 940px) {
  .heroin-program-flex {
      flex-wrap: wrap-reverse;
  }

  .heroin-program-menu {
      width: 60%;
      margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .image-caption h1 {
      font-size: 2rem;
      line-height: normal;
  }

  .heroin-program-image img {
      width: 100%;
  }

  .heroin-program-menu {
    width: 100%;
}
}
