
.footer {
  height: auto;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: #58799d;
}

.footer .top {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.logo-footer {
  width: 300px;
  text-align: center;
  margin: auto;
}

.logo-footer img {
  width: 70%;
  padding: 1rem; 
}

.logo-footer p {
  font-size: 14px;
}

.logo-footer a {
  color: #f8c009;
  font-size: 15px;
}

.logo-footer a:hover {
  color: #ffffff;
  font-size: 15px;
}


.footer h2 {
  font-size: 2rem;
}

.column-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.column {
  width: 25%;
}


.footer h3 {
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 1rem;
}


.footer p {
  color: white;
  text-align: center;

}

.copyright p {
  text-transform: uppercase;
  text-align: center;
  padding: 2rem 1rem;
  color: #f8c009;
}


@media screen and (max-width: 940px) {
  
  .top {
      flex-wrap: wrap;
  }
  
  .logo-footer img {
    width: 40%;  
  }

  .column {
    width: 40%;
  }
  
}


@media screen and (max-width: 700px) {

  .column {
    width: 100%;
  }

  .logo-footer img {
    width: 70%;  
  }

  

}