/* AlcoholHeroinRehab.css */
.veteransAddiction-container {
    width: 100%;

  }
  
  .intro-section {
    padding: 2rem 1rem;
    background-color: #2E788C;

  }

  .intro-section h1 {
    font-size: 1.3rem;
    text-align: center;
    line-height: normal;
    color: white;
    text-transform: uppercase;
  }
  
  .intro-section p {
    font-size: 14px;
    text-align: center;
    color: white;
    line-height: normal;
  }
  
  .veteransAddiction-program {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 3rem 1rem;
  }

  
  .veteransAddiction-program-image {
        width: 100%;
        border-radius: 10px;
        background-size: cover;
        background-position: center;
    }  


  
    .veteransAddictionOne-bg {
        background-image: url('../../../assets/veterans_section_image1.webp');
    }

    .veteransAddictionTwo-bg {
        background-image: url('../../../assets/veterans_section_image2.webp');
    }


    .veteransAddiction-program-image img {
      width: 100%;
      display: none;
  }

  .veteransAddiction-program-content {
    width: 100%;
    margin: auto;
  }

  .veteransAddiction-program-content ul {
    list-style-type: disc;
  }
  
  .veteransAddiction-program-content h2 {
    font-size: 1.5rem;
    color: #2bbb43;
    margin-bottom: 10px;
  }

  .veteransAddiction-program-content h3 {
    font-size: 1rem;
    color: #141414;
    margin-bottom: 10px;
  }

  .veteransAddictionSection {
    padding: 1rem;
  }

  .veteransAddictionSection h2 {
    font-size: 1.5rem;
    color: #2bbb43;
    margin-bottom: 10px;
  }

  .veteransAddictionSection p {
    font-size: 1rem;
  }

  .veteransAddictionSection ul li {
    list-style: disc;
  }
  
  .veteransAddiction-program-content p {
    font-size: 1rem;
    line-height: normal;
    margin-bottom: 15px;
  }

  .section-footer {
    padding: 1rem;
  }

  .section-footer h1 {
    font-size: 1.5rem;
    text-align: center;
  }


  .section-footer p {
    line-height: normal;
    font-size: 1rem;
    text-align: center;
  }
  

  @media screen and (max-width:940px) {
    .veteransAddiction-program-content h2 {
        font-size: 1.5rem;
      }


    .veteransAddiction-program {
        flex-wrap: wrap;
        padding: 1rem;
      }

    .veteransAddiction-program-image img {
        display: block;
        border-radius: 10px;
    }

      .flex-reverse {
        flex-wrap: wrap-reverse;
      }
      
      .veteransAddiction-program-content h2 {
        text-align: center;
      }
      
  }

    
  @media screen and (max-width:600px) {
    .veteransAddiction-program-content h2 {
      font-size: 1.3rem;
    }

    .veteransAddictionSection h2 {
      font-size: 1.3rem;
      text-align: center;
    }
  }