/* AlcoholHeroinRehab.css */

.sober-living-section {
    height: auto;
    padding: 3rem 1rem;
  }
  
  .sober-living-section-content {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .sober-living-section-sidebar {
    width: 40%;
  }
  
  .sober-living-section-caption {
    width: 100%;
    padding: 1rem;
  }
  
  .sober-living-section-header h1 {
    text-align: left;
    font-size: 1.5rem;
    color: #1b1c1d;
    font-family: "Noto Serif Oriya", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    padding: 1rem 0;
  }
  
  
  .sober-living-section-header p {
    font-size: 16px;
    color: rgb(32, 30, 30);
    line-height: normal;
  }
  
  .sober-living-section-flex {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
  }
  
  .sober-living-section-flex-image {
    width: 100%;
    margin: auto;
  }
  
  .sober-living-section-flex-image img {
    width: 100%;
    border-radius: 10px;
  }
  
  .sober-living-section-flex-caption {
    width: 100%;
    margin: auto;
  }
  
  .sober-living-section-flex-caption h2 {
    text-align: left;
    font-size: 1rem;
    color: #1b1c1d;
    font-family: "Noto Serif Oriya", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    padding: 1rem 0;
  }

  .sober-living-section-flex-caption p {
    font-size: 16px;
    color: rgb(32, 30, 30);
    line-height: normal;
    text-align: justify;
  }
  
  
  .sober-living-section-flex-caption ul li {
    list-style-type: disc;
}
  

  .sober-living-section-body {
    padding: 2rem 0;
  }
  
  
  
  
  @media screen and (max-width:940px) {
    
    .sober-living-section-content {
      flex-wrap: wrap-reverse;
    }

    .sober-living-section-sidebar {
        width: 70%;
    }

}
  

  
  
  @media screen and (max-width:700px) {

    .sober-living-section-sidebar {
      width: 100%;
    }
    
  }
  
  
  
  
  