/* Accordion */

.accordion-menu {
    width: 100%;
    margin: 10px 0;
}

.accordion-menu-button {
    width: 100%;
    padding: 15px;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    outline: none;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.accordion-menu-button:hover {
    background-color: #ffffff;
    color: var(--primary-color);
}

.accordion-icon {
    margin-left: 10px;
}

.accordion-menu-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: #f9f9f9;
    padding: 0 15px;
}

.accordion-menu-content ul {
    list-style-type: disc;
    padding: 0 1rem;
}

.accordion-menu-content h1 {
    font-size: 1.2rem;
    padding-top: 1rem;
}

.accordion-menu-content.open {
    max-height: none;
}
